 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Work Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.manifesto{
    font-size: 22px;
    padding-top: 53px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #224F5A;
    display: flex;
    justify-content: space-evenly;
}

.opening_quote{
    position: relative;
    top: -2rem;
    
}

.closing_quote{
    position: relative;
    top: 19rem;
    
}

.Adc_objectives{
    font-weight: 500;
    margin-top: 50px;
    text-align: center;
    color: #224F5A;
    padding: 50px;
}

.Adc_objectives h1{
    font-size: 50px;
}

.sub_Adc_objectives{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    text-align: justify;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 300px;
}

.big_circle_tick_Right{
    color:#EF7E2D;
    background-color: black;
    border-radius: 50%;
    height: 50px;
    position: relative;
    top: -30px;
    margin: 15px;
}

.objective_one_to_ten{
    display: flex;
    margin: 20px;
}

#objective_ten{
    margin-left: 20px;
    position: relative;
    top: -120px;
}

.Co-operation_And_Partnerships{
    display: flex;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    height: 300px;
    background: rgba(62, 233, 135, 0.1);
}

.Co-operate_with_Africans{
    background: #EF7E2D;
    padding: 15px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: relative;
    bottom: 270px;
    height:500px;
}

.Co-operate_with_member_nations{
    background: #009541;
    padding: 15px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: relative;
    bottom: 270px;
    height:500px;
}

.Build_socio-political_culture{
    background: #224F5A;
    padding: 15px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: relative;
    bottom: 270px;
    height:500px;
}

.Co-operate_with_Africans div,
.Co-operate_with_member_nations div,
.Build_socio-political_culture div{
    margin-left: 50px;
    padding: 40px;
}

.tick_Right{
    position: relative;
    right: 56px;
}

.cardinal_commitments{
    background: #224F5A;
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 50px;
}

.cardinal_commitments h1{
    color:#EF7E2D;
    font-size: 50px;
}

div .commitment_one_to_seven{
    display: flex;
    margin-bottom: 20px;
    font-size: 20px;
}

.square_tick_Right{
    padding-right: 15px;
}

.aims_of_party h2{
    color: #224F5A;
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
}

.small_circle_tick_Right{
    color:#EF7E2D;
    margin-right: 10px;
}

.sub_aims_of_party{
    display: grid;
    grid-template-columns: 50% 50%;
    color: #224F5A;
    text-align: justify;
    font-size: 20px;
    padding: 50px;
}

.aim_one_to_sixteen{
    display: flex;
    margin: 20px;
}







@media (max-width:1080px) {
    .Co-operation_And_Partnerships{
        flex-wrap: wrap;
        background: none;
    }

    .cardinal_commitments{
        position: relative;
        top: 31rem;
    }

    .aims_of_party {
        position: relative;
        top: 32rem;
    }

    .Build_socio-political_culture{
        margin-top: 20px;
    }

    #objective_ten{
        margin-left: 20px;
        position: relative;
        top: -15rem;
    }

}




@media (max-width: 1044px) {
    .closing_quote{
        position: sticky;
        top: 60rem;
    }
}




@media (max-width: 769px) {
    .Co-operation_And_Partnerships{
        flex-wrap: wrap;
        font-size: 19px;
        display: grid;
    }

    .aims_of_party{
        position: relative;
        top: 66rem;
    }

    .sub_Adc_objectives{
        display: block;

    }

    .objective_one_to_ten{
        padding-bottom: 25px;
    }

    #objective_ten{
        margin-left: 20px;
        position: relative;
        top: 2rem;
    }

    .sub_aims_of_party{
        display: block;
    }

    .cardinal_commitments{
        position: relative;
        display: block;
        top: 65rem;
    }

    .commitment_one_to_seven{
        padding: 20px;
    }

    .Co-operate_with_Africans,
    .Co-operate_with_member_nations,
    .Build_socio-political_culture{
        margin-bottom: 20px;
    }
} 



@media (max-width:425px) {
    .aims_of_party{
        position: relative;
        top: 65rem;
    }

    .Co-operate_with_Africans div,
    .Co-operate_with_member_nations div,
    .Build_socio-political_culture div{
        margin-left: 0px;
        padding: 20px;
    }

    .cardinal_commitments h1{
        font-size: 37px;
    }

    .closing_quote{
        position: relative;
        top: 73rem;
    }
}


@media (max-width:375px){
    .closing_quote{
        position: relative;
        top: 80rem;
    } 
}


@media (max-width:320px){
    .closing_quote{
        position: relative;
        top: 110rem;
    } 
}
